<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Owner</th>
      <th>Date and time</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'activity', collection: @activities %>
  </tdoby>
</table>
